.main{
    background: var(--gray-600);
    height: calc(100vh - 10rem);

    display: flex;
    justify-content: center;
}

.formNovaTarefa{
    position: absolute;
    top: calc(10rem - 1.6rem);

    width: 46rem;
    display: flex;

    justify-content: space-around;
}

.formNovaTarefa input{
    background: var(--gray-500);
    width: 39rem;

    padding: 1rem;
    border-radius: 8px;
    border: none;
}

.formNovaTarefa button{
    background: var(--blue-dark);
    color: var(--gray-100);
    width: 5rem;

    padding: 0;
    margin: 0;

    border-radius: 8px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}

.containerTasks{
    width: 45rem;

    margin-top: 5rem;
}

.informacoes{
    display: flex;
    justify-content: space-between;
}

.paragrafo1{
    color: var(--blue);
}

.informacoes p > span{
    background: var(--gray-400);
    color: var(--gray-200);
    width: 2rem;

    padding:  0.2rem 0.5rem;
    border-radius: 2rem;
}

.paragrafo2{
    color: var(--purple);
}

.divTasks{
    margin-top: 2rem;
}

@media screen and (max-width: 428px) {
    .formNovaTarefa input {
        width: calc(38rem / 2);
    }
}